<div class="d-flex flex-wrap justify-content-between">
   <form id="admin-login-form" class="d-flex">
      <input class="form-control me-2" name="login" autocomplete="username" type="text" placeholder="Логин" aria-label="Login">
      <input class="form-control me-2" name="password" autocomplete="current-password" type="password" placeholder="Пароль" aria-label="Password">
         <select class="form-control me-2" id="selectID" name="isAdmin">
            <option value="0">Пользователь</option>
            <option value="1">Администратор</option>
         </select>
      <button id="admin-login-btn" class="btn btn-primary" type="submit">Добавить пользователя</button>
   </form>
</div>